@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-gab-navy: #003071;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* Outras customizações aqui... */
}

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}
/* Adicione uma suavização global para interações */
* {
  @apply transition-colors duration-200;
}